<!-- app/views/shared/_flash_message.html.erb -->
<% if flash[:notice] %>
  <div id="flash-message" class="mb-4 p-3 bg-green-100 text-green-800 rounded-md">
    <%= flash[:notice] %>
  </div>
<% end %>
